<!--
    A Virendra Rajput Production

    Title : Nearme

    Follow me @bkvirendra
-->
<html>
<head>
<title>NearMe</title>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='txtweb-appkey' content='add26578-0172-4706-a61c-1a90f5e3a38a' />
</head>
<body>
<p>
		Your request was received by the Nearme Service. But we couldn't locate because of your inappropriate address. Please specify the address details in your sms as below:
		Eg. @nearme placeYouWant, your address to 9243342000
</p>
</body>
</html>