<!--
    A Virendra Rajput Production

    Title : Nearme

    Follow me @bkvirendra
-->
<html>
<head>
<title>NearMe</title>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='txtweb-appkey' content='add26578-0172-4706-a61c-1a90f5e3a38a' />
</head>
<body>
<p>
	Nearme is a easy to use service which helps you find ATM's, Bank, Restaurants or virtually anything around you.
    Just send : "@nearme place, your address"<br />
	Example to find a theatre near you:<br />Text: "@nearme theatre, DP Road pune" to 9243342000
</p>
</body>
</html>